body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	width: auto;
	height: auto;
	background: linear-gradient(#3dd5c9, #d0f8f8);
	background-size: auto;
	background-attachment: fixed !important;
	background-repeat: inherit;
}

.sidebar {
	position: absolute;
	width: 250px;
	height: 100%;
	max-height: max-content;
	background: #333333;
	background-size: auto;
	background-attachment: scroll;
	color: #ffffff;
	outline: 1px solid #2a2a2a;
	transition: all 500ms linear;
	margin-top: 19px;
}

.sidebar h2 {
	text-align: center;
	margin: 0;
	padding: 10px;
	background: #2a2a2a;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li {
	outline: 1px solid #2a2a2a;
	transition: all 0.3s;
}

.sidebar li:hover {
	background: #444444;
	border-left: 5px solid #eeeeee;
}

.sidebar a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px;
	margin-left: 5px;
}

.sidebar span {
	margin-right: 10px;
}

.contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(#3dd5c9, #d0f8f8);
	padding: 30px;
	box-sizing: border-box;
	transition: all 500ms linear;
}

.desplazar {
	margin-left: 250px;
}

.icon-menu {
	cursor: pointer;
}

.contenido h2 {
	width: 50%;
	text-align: left;
}
.contenido h3 {
	width: 50%;
	text-align: right;
}

#logo {
	width: 40% 40%;
}

#img {
	width: 10%;
	display: inline-block;
	margin-top: 20px;
}
#datos-prov {
	width: 90%;
	float: right;
	margin-top: 20px;
}

#datos-prov h2 {
	display: block;
}

#datos-prov h5 {
	display: block;
}

#datos-prov h6 {
	display: block;
}

#bt-cargar {
	margin: 0 auto;
}

.icon-upload {
	margin-right: 8px;
}
.container {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: #3dd5c9;
	padding: 30px 30px 20px 30px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-radius: 10px;
	border-width: 3px 3px;
	border-color: #0b5345 #0b5345;
}

.container:hover {
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-right: 4px solid;
	border-left: 4px solid;
	border-color: #000 #000;
}

.btn {
	align-content: center;
}

.btn:hover {
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-right: 3px solid;
	border-left: 3px solid;
	border-color: #fff #fff;
}

#label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.icon-clipboard {
	margin-right: 8px;
}

#bt-guardar {
	margin: auto auto;
}

.bt-registro {
	width: 50%;
	align-content: center;
}

.icon-floppy-disk {
	margin-right: 8px;
}

.nom-prov {
	margin-top: 40px;
	margin-left: 160px;
}

.navbar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.navbar h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding-right: 20px;
}

.icon-user-tie {
	margin-left: 8px;
}

.form-control {
	height: 45px;
	background: #dffbeb;
}

.form-control:hover {
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-right: 2px solid;
	border-left: 2px solid;
	border-color: #000 #000;
}

.row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.flex-center {
	align-self: center !important;
}

.col-sm-6 section {
	padding-left: 25px;
	padding-right: 25px;
}
